{% extends 'index.html' %}
{% block title %}Vanta library{% endblock %}
{% block content %}
    <br>
    <br>
    <center>
<div class="about">
    <br>
    <h1>ჩვენ შესახებ</h1>
    <br>
    <br>
    <p>კეთილი იყოს თქვენი მობრძანება VANTA LIBRARY- ში, ონლაინ თავშესაფარი წიგნის მოყვარულთათვის. ეს ვებსაიტი საშუალებას გაძლევთ იპოვოთ წიგნები, იმ ჟანრისა, რომელიც თქვენ გაინტერესებთ ანდაც ატვირტოთ თქვენით ის წიგნები, რომლებზეც თქვენი აზრით დიდი მოთხოვნა იქნება. სურვილისამებრ შეგიძლიათ მსიი წაშლაც და ჩასწორებაც, ასევე გიმარტივდებათ მსგავსი ჟანრის წიგნების მოძებნაც.</p>

    <h2>ჯგუფი 4-ის წევრები:</h2>
    <br>
    <br>
    <h3>აკაკი კირვალიძე</h3>
    <h3>სანდრო ხოფერი</h3>
    <h3>ლიკა ჩიქოვანი</h3>
    <h3>საბა გორგაძე</h3>
    <h3>თედო ფაცაცია</h3>
    <br>
    <br>
    <img src="/static/dogo.jpg" alt="" width="300px" height="200px" style="border-radius: 15px">
    </center>
</div>

 <br>
    <br>
{% endblock %}